<mat-card class="card-container">
  <img mat-card-image [src]="offer.imageUrl" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>{{ offer.title }}</mat-card-title>
    <mat-card-subtitle>{{ offer.pricePerNight }} euro</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ offer.description }}
    </p>
    <p>
<!--      Contact Number: {{'Contact Number:' + offer.contactNumber }}-->
      Contact Number: {{ offer.contactNumber }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onBuy()">Book</button>
  </mat-card-actions>
</mat-card>

